Repository phrazzld/misty-step: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,css,html}": ["prettier --write"],
  "*.md": [
    "node -e \"const {execSync} = require('child_process'); const fs = require('fs'); const files = process.argv.slice(1); const nonSymlinks = files.filter(file => !fs.lstatSync(file).isSymbolicLink()); if (nonSymlinks.length) execSync('prettier --write ' + nonSymlinks.join(' '), {stdio: 'inherit'});\""
  ]
}

feat: add Storybook verification story and remove default examples
  TASK-006-plan.md
  TODO.md
  stories/SetupVerification.stories.tsx
  stories/assets/accessibility.png
  stories/assets/accessibility.svg
  stories/assets/addon-library.png
  stories/assets/assets.png
  stories/assets/avif-test-image.avif
  stories/assets/context.png
  stories/assets/discord.svg
  stories/assets/docs.png
  stories/assets/figma-plugin.png
  stories/assets/github.svg
  stories/assets/share.png
  stories/assets/styling.png
  stories/assets/testing.png
  stories/assets/theming.png
  stories/assets/tutorials.svg
  stories/assets/youtube.svg
Due: eslint --fix, prettier --write

docs: update README.md with Storybook documentation
  README.md
  TASK-007-plan.md
  TODO.md
Due: none

fix: update Storybook configuration to work with ESM and React 19
  .storybook/main.ts
  package.json
Due: eslint --fix, prettier --write

chore: add postcss-nesting dependency for Tailwind v4 compatibility
  .storybook/preview.ts
  TODO.md
  package.json
  pnpm-lock.yaml
  stories/SetupVerification.stories.tsx
Due: eslint --fix, prettier --write

feat: update postcss.config.mjs for Tailwind v4
  TODO.md
  postcss.config.mjs
Due: eslint --fix, prettier --write

feat: remove webpackFinal PostCSS override from Storybook config
  .storybook/main.ts
  .storybook/preview.css
  .storybook/preview.ts
  .storybook/storybook.css
  .storybook/tailwind.config.js
  TODO.md
Due: eslint --fix, prettier --write

feat: update tailwind.config.mjs to include Storybook paths
  TODO.md
  tailwind.config.mjs
Due: eslint --fix, prettier --write

fix: update postcss configuration for Tailwind v4
  TODO.md
  package.json
  postcss.config.mjs
Due: eslint --fix, prettier --write

test: verify Storybook integration with Tailwind v4
  TODO.md
Due: none

chore: mark TASK-008 and TASK-016 as completed
  TODO.md
Due: none

build: verify local Storybook build
  TODO.md
Due: none

ci: integrate Storybook build into CI pipeline
  .github/workflows/ci.yml
  TASK-010-plan.md
  TODO.md
Due: none

test: exclude Storybook files from coverage calculations
  TASK-011-plan.md
  TODO.md
  vitest.config.ts
Due: eslint --fix, prettier --write

ci: fix CI pipeline by updating Node.js engine requirements and lockfile
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update gitignore, document completed Storybook setup in backlog, simplify verification story
  .gitignore
  BACKLOG.md
  stories/SetupVerification.stories.tsx
Due: eslint --fix, prettier --write

fix: remove require-related code from Storybook config to fix CI build
  .storybook/main.ts
Due: eslint --fix, prettier --write

chore: docs cleanup
  PLAN-2.md
  PLAN-INDEX.md
  PLAN-ORIGINAL.md
  PLAN.md
  TASK-001-plan.md
  TASK-002-plan.md
  TASK-003-plan.md
  TASK-004-plan.md
  TASK-005-plan.md
  TASK-006-plan.md
  TASK-007-plan.md
  TASK-010-plan.md
  TASK-011-plan.md
  TODO.md
Due: none

chore: create task breakdown for Storybook UI component stories
  TODO.md
Due: none

feat: add button component stories
  TODO.md
  components/ui/button.stories.tsx
Due: eslint --fix, prettier --write

chore: exclude story files from coverage checks
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: add card component stories
  TODO.md
  components/ui/card.stories.tsx
Due: eslint --fix, prettier --write

feat: add input component stories
  TODO.md
  components/ui/input.stories.tsx
Due: eslint --fix, prettier --write

feat: add label component stories
  TODO.md
  components/ui/label.stories.tsx
Due: eslint --fix, prettier --write

feat: add textarea component stories
  TODO.md
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

docs: add Storybook contribution guidelines
  README.md
  TODO.md
  docs/CONTRIBUTING-STORYBOOK.md
Due: none

test: verify Storybook build with new stories
  TODO.md
Due: none

docs: update icon resolution in TODO
  TODO.md
Due: none

chore: remove planning documentation
  PLAN-2.md
  PLAN-INDEX.md
  PLAN-ORIGINAL.md
  PLAN.md
  TODO.md
Due: none

refactor: replace next/image with standard img in button stories
  T001-plan.md
  TODO.md
  components/ui/button.stories.tsx
Due: eslint --fix, prettier --write

chore: enhance storybook staticDirs configuration for better asset serving
  .storybook/main.ts
  T002-plan.md
  TODO.md
Due: eslint --fix, prettier --write

chore: include stories in test coverage analysis
  T004-plan.md
  TODO.md
  vitest.config.ts
Due: eslint --fix, prettier --write

refactor: add proper a11y alt text to button story images
  T005-plan.md
  TODO.md
  components/ui/button.stories.tsx
Due: eslint --fix, prettier --write

refactor: add aria-label to button argTypes for a11y
  T006-plan.md
  TODO.md
  components/ui/button.stories.tsx
Due: eslint --fix, prettier --write

feat(a11y): add aria-required to input argTypes
  TODO.md
  components/ui/input.stories.tsx
Due: eslint --fix, prettier --write

feat(a11y): add aria-required to textarea argTypes
  TODO.md
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

feat(a11y): add ARIA props to label argTypes
  TODO.md
  components/ui/label.stories.tsx
Due: eslint --fix, prettier --write

feat(ui): add required prop to Label component
  TODO.md
  components/ui/label.stories.tsx
  components/ui/label.tsx
Due: eslint --fix, prettier --write

refactor(ui): replace raw button with Button component in card story
  TODO.md
  components/ui/card.stories.tsx
Due: eslint --fix, prettier --write

refactor(ui): replace raw label with Label component in input story
  TODO.md
  components/ui/input.stories.tsx
Due: eslint --fix, prettier --write

refactor(ui): update textarea stories to use Label required prop
  TODO.md
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write
