Repository phrazzld/misty-step: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,css,html}": ["prettier --write"],
  "*.md": [
    "node -e \"const {execSync} = require('child_process'); const fs = require('fs'); const files = process.argv.slice(1); const nonSymlinks = files.filter(file => !fs.lstatSync(file).isSymbolicLink()); if (nonSymlinks.length) execSync('prettier --write ' + nonSymlinks.join(' '), {stdio: 'inherit'});\""
  ]
}

feat(ui): implement interaction tests using play functions for component states
  TODO.md
  components/ui/button.stories.tsx
  components/ui/input.stories.tsx
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

refactor(storybook): convert simple stories to use args instead of render
  TODO.md
  components/ui/input.stories.tsx
  components/ui/label.stories.tsx
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

refactor(storybook): improve generic story names for clarity
  TODO.md
  components/ui/button.stories.tsx
  components/ui/card.stories.tsx
  components/ui/input.stories.tsx
  components/ui/label.stories.tsx
  components/ui/textarea.stories.tsx
  stories/SetupVerification.stories.tsx
Due: eslint --fix, prettier --write

fix: resolve linting issues in UI component stories
  TODO.md
  components/ui/button.stories.tsx
  components/ui/card.stories.tsx
  components/ui/input.stories.tsx
  components/ui/label.stories.tsx
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

chore: docs cleanup
  PLAN.md
  T014-findings.md
  TODO.md
Due: none

docs: update backlog
  BACKLOG.md
Due: none

chore: install ESLint core and TypeScript plugins
  TODO.md
Due: none

chore: install ESLint React/JSX/Import plugins
  TODO.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: install Prettier and ESLint integration plugins
  TODO.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: confirm Husky and lint-staged installation
  TODO.md
Due: none

chore: configure ESLint flat config with strict rules
  TODO.md
  app/layout.test.tsx
  components/ui/card.stories.tsx
  components/ui/input.stories.tsx
  components/ui/textarea.stories.tsx
  eslint.config.mjs
Due: eslint --fix, prettier --write

chore: configure Prettier formatting rules
  .prettierignore
  .prettierrc.json
  TODO.md
Due: prettier --write

refactor: update TypeScript configuration for strict type-checking
  TODO.md
  tsconfig.json
Due: prettier --write

chore: initialize Husky and configure pre-commit hook to run lint-staged
  .husky/pre-commit
  TODO.md
  package.json
Due: prettier --write

chore: configure lint-staged and test with sample file
  .lintstagedrc.json
  test-lint-staged.ts
Due: eslint --fix, prettier --write

chore: complete task T009 and remove test file
  TODO.md
  test-lint-staged.ts
Due: eslint --fix, prettier --write

chore: add code quality npm scripts
  TODO.md
  package.json
Due: prettier --write

feat: create GitHub Actions workflow for code quality
  .github/workflows/code-quality.yml
  TODO.md
Due: none

test: commit with clean file to verify pre-commit hook allows it
  test-clean.ts
Due: eslint --fix, prettier --write

chore: remove test files after completing pre-commit hook testing
  test-clean.ts
Due: eslint --fix, prettier --write

docs: add T012 findings from pre-commit hook testing
  T012-findings.md
Due: none

docs: complete T013 CI pipeline behavior testing
  T013-findings.md
  TODO.md
Due: none

docs: enhance code quality documentation in README
  README.md
  TODO.md
Due: none

docs: add comprehensive explanatory comments to config files
  .prettierrc.js
  TODO.md
  eslint.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write

chore: remove old .prettierrc.json in favor of commented .prettierrc.js
  .prettierrc.json
Due: prettier --write

docs: add summary of completed code quality improvements
  CODE-QUALITY-SUMMARY.md
Due: none

fix: resolve React hydration warning in layout test
  app/layout.test.tsx
Due: eslint --fix, prettier --write

test: add tests for test utils dark mode preferences
  test/utils.test.tsx
Due: eslint --fix, prettier --write

test: update test files for excluded components
  components/contact.test.tsx
  lib/logger.test.ts
Due: eslint --fix, prettier --write

fix: exclude problematic files from test coverage
  TODO.md
  vitest.config.ts
Due: eslint --fix, prettier --write

refactor: update logger to accept environment parameter
  TODO.md
  lib/logger.test.ts
  lib/logger.ts
Due: eslint --fix, prettier --write

test: improve test isolation for logger environment config
  TODO.md
  lib/logger.test.ts
Due: eslint --fix, prettier --write

refactor: extract form handling logic to a separate function
  TODO.md
  components/contact.test.tsx
  components/contact.tsx
  lib/contact-form.test.ts
  lib/contact-form.ts
Due: eslint --fix, prettier --write

feat: create proper FormData mocking strategy
  TODO.md
  components/contact.test.tsx
  test/mocks/formdata-mock.test.ts
  test/mocks/formdata-mock.ts
Due: eslint --fix, prettier --write

refactor(test): improve theme system testability with context-based approach
  CODE-QUALITY-SUMMARY.md
  PLAN.md
  T012-findings.md
  T013-findings.md
  T014-findings.md
  TODO.md
  app/layout.tsx
  components/contact.test.tsx
  components/contact.tsx
  components/dark-mode-toggle.test.tsx
  components/dark-mode-toggle.tsx
  lib/contact-form.test.ts
  lib/theme.test.tsx
  lib/theme.tsx
  package.json
  pnpm-lock.yaml
  test/utils.test.tsx
  test/utils.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: docs cleanup
  TODO.md
Due: none

fix: improve theme provider compatibility with Next.js SSR and Turbopack
  app/layout.tsx
  components/client-theme-provider.test.tsx
  components/client-theme-provider.tsx
  package.json
Due: eslint --fix, prettier --write

chore: fix formatting issues
  CI_FAILURE_ANALYSIS.md
  test/utils.test.tsx
Due: eslint --fix, prettier --write

fix: replace JSX.Element with React.ReactElement for compatibility
  app/layout.test.tsx
  app/layout.tsx
  app/page.tsx
  components/client-theme-provider.tsx
  components/contact.tsx
  components/dark-mode-toggle.tsx
  components/hero.tsx
  components/services.tsx
  components/site-footer.tsx
  components/site-header.tsx
  components/ui/card.tsx
  lib/content/service-icons.tsx
  lib/logger.test.ts
  lib/theme.tsx
  test/utils.tsx
Due: eslint --fix, prettier --write
