Repository phrazzld/misty-step: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,css,html}": ["prettier --write"],
  "*.md": [
    "node -e \"const {execSync} = require('child_process'); const fs = require('fs'); const files = process.argv.slice(1); const nonSymlinks = files.filter(file => !fs.lstatSync(file).isSymbolicLink()); if (nonSymlinks.length) execSync('prettier --write ' + nonSymlinks.join(' '), {stdio: 'inherit'});\""
  ]
}

feat: scaffold Services component structure
  TODO.md
  components/services.tsx
Due: eslint --fix, prettier --write

feat: implement data mapping and card rendering in Services component
  TODO.md
  components/services.tsx
Due: eslint --fix, prettier --write

feat: populate service card content in Services component
  TODO.md
  components/services.tsx
Due: eslint --fix, prettier --write

feat: enhance styling of Services component
  TODO.md
  components/services.tsx
Due: eslint --fix, prettier --write

test: set up mocks for Services component tests
  TODO.md
  components/services.test.tsx
Due: eslint --fix, prettier --write

feat: integrate Services component into app/page.tsx
  TODO.md
  app/page.tsx
Due: eslint --fix, prettier --write

test: write Services component rendering tests (T017)
  T017-plan.md
  TODO.md
  components/services.test.tsx
Due: eslint --fix, prettier --write

test: update app/page.test.tsx to include Services component (T020)
  T020-plan.md
  TODO.md
  app/page.test.tsx
Due: eslint --fix, prettier --write

docs: update README.md to reflect service-centric structure (T021)
  README.md
  T021-plan.md
  TODO.md
Due: none

feat: populate coreServices with final data and implement icon rendering (T003, T015)
  T003-plan.md
  T015-plan.md
  TODO.md
  clarifications/C001-C002-responses.md
  components/services.tsx
  lib/content/service-icons.tsx
  lib/content/services.ts
Due: eslint --fix, prettier --write

test: implement Services card content and icon rendering tests (T018)
  T018-plan.md
  TODO.md
  components/services.test.tsx
Due: eslint --fix, prettier --write

docs: add project planning and update dependencies
  .gitignore
  BACKLOG.md
  PLAN.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: docs cleanup
  T003-plan.md
  T015-plan.md
  T017-plan.md
  T018-plan.md
  T020-plan.md
  T021-plan.md
  clarifications/C001-C002-responses.md
Due: none

test: improve test coverage for app/layout, services, service-icons, and logger
  app/layout.test.tsx
  lib/content/service-icons.test.tsx
  lib/content/services.test.ts
  lib/logger.test.ts
Due: eslint --fix, prettier --write

fix: fix TypeScript error in logger test mock
  lib/logger.test.ts
Due: eslint --fix, prettier --write

chore: docs cleanup
  BACKLOG.md
  PLAN.md
  TODO.md
Due: none

chore: clarify color palette origin responsibility
  TODO.md
  docs/decisions/color-palette-origin.md
Due: none

chore: specify contrast validation standard and tools
  TODO.md
  docs/decisions/contrast-validation-standard.md
Due: none

feat: propose initial color palette values
  TODO.md
  docs/design-system/COLOR.md
Due: none

feat(design): verify and adjust color palette accessibility
  BACKLOG.md
  T004-plan.md
  TODO.md
  color-check.js
  docs/design-system/ADJUSTED-COLOR.md
  docs/verification/adjustment-summary.md
  docs/verification/color-contrast-verification.md
  docs/verification/contrast-results.json
  eslint.config.mjs
Due: eslint --fix, prettier --write

chore: mark T024 and T025 as completed
  TODO.md
Due: none

docs: create comprehensive color system documentation
  T005-plan.md
  TODO.md
  docs/colors.md
Due: none

feat(ui): implement light mode colors in globals.css
  T006-plan.md
  TODO.md
  app/globals.css
Due: prettier --write

feat(design): implement dark mode colors in globals.css
  T007-plan.md
  TODO.md
  app/globals.css
Due: prettier --write

feat(theme): complete tailwind color mapping configuration
  T009-analysis.md
  T009-plan.md
  TODO.md
  tailwind.config.mjs
Due: eslint --fix, prettier --write

docs(css): add explanatory comments to globals.css
  T008-plan.md
  TODO.md
  app/globals.css
Due: prettier --write

docs: identify third-party components for theming
  T011-plan.md
  TODO.md
  docs/third-party-components.md
Due: none

chore(ui): t010 audit component hardcoded colors
  T010-plan.md
  TODO.md
Due: none

chore(ui): t012 verify third-party component theming
  T012-plan.md
  TODO.md
Due: none

build: t013 verify application builds successfully
  T013-plan.md
  TODO.md
Due: none

docs: add color system documentation and README updates
  README.md
  TODO.md
Due: none

chore: exclude color-check.js from test coverage
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: clean up repository
  .eslintignore
  T010-plan.md
  T012-plan.md
  T013-plan.md
  color-check.d.ts
  docs/planning/color-scheme-plan.md
Due: eslint --fix, prettier --write

chore: docs cleanup
  T004-plan.md
  T005-plan.md
  T006-plan.md
  T007-plan.md
  T008-plan.md
  T009-plan.md
  T011-plan.md
  TODO.md
Due: none

feat: enhance and prioritize project backlog
  BACKLOG.md
Due: none

feat: initialize Storybook with Vite builder
  .storybook/main.ts
  .storybook/preview.ts
  TASK-001-plan.md
  TODO.md
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: install additional Storybook addons for styling, themes, and a11y
  TASK-002-plan.md
  TODO.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: configure Storybook main.ts for Vite and path aliases
  .gitignore
  .storybook/main.ts
  TASK-003-plan.md
  TODO.md
Due: eslint --fix, prettier --write

feat: configure Storybook preview.ts with theme support and global styles
  .storybook/preview.ts
  TASK-004-plan.md
  TODO.md
Due: eslint --fix, prettier --write

feat: verify Storybook npm scripts in package.json
  TASK-005-plan.md
  TODO.md
Due: none
