Repository phrazzld/misty-step: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test: complete audit of story files for raw HTML elements
  T015-plan.md
  TODO.md
Due: none

test: fix coverage by excluding story files
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: remove temporary plan file
  T015-plan.md
Due: none

refactor: add standard props to button argtypes
  .storybook/preview.css
  .storybook/preview.tsx
  TODO.md
  components/ui/button.stories.tsx
Due: eslint --fix, prettier --write

refactor(ui): add standard props to input argtypes
  components/ui/input.stories.tsx
Due: eslint --fix, prettier --write

refactor(ui): add standard props to textarea argtypes
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

refactor(ui): add standard props to label argtypes
  components/ui/label.stories.tsx
Due: eslint --fix, prettier --write

refactor(ui): add standard props to card component argtypes
  components/ui/card.stories.tsx
Due: eslint --fix, prettier --write

refactor(ui): add TSDoc comments to CardAction component
  components/ui/card.tsx
Due: eslint --fix, prettier --write

refactor(ui): standardize input story structure
  components/ui/input.stories.tsx
Due: eslint --fix, prettier --write

refactor(ui): standardize label story structure
  TODO.md
  components/ui/label.stories.tsx
Due: eslint --fix, prettier --write

docs: add husky update task to backlog
  BACKLOG.md
Due: none

refactor(ui): standardize textarea story structure
  TODO.md
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

feat(ui): add interactive state stories for button
  TODO.md
  components/ui/button-states.css
  components/ui/button.stories.tsx
Due: eslint --fix, prettier --write

feat(storybook): add interactive state stories for input/textarea
  T028-plan.md
  TODO.md
  components/ui/input-states.css
  components/ui/input.stories.tsx
  components/ui/textarea-states.css
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

feat(storybook): add error state stories for input/textarea
  T029-plan.md
  TODO.md
  components/ui/input.stories.tsx
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

feat(ui): add long text edge case story for button
  TODO.md
  components/ui/button.stories.tsx
Due: eslint --fix, prettier --write

feat(ui): add long placeholder/value edge case stories for input/textarea
  TODO.md
  components/ui/input.stories.tsx
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

refactor(ui): standardize input story structure
  TODO.md
Due: none

chore: clean up repository files and documentation
  .gitignore
  .husky/post-commit
  CLAUDE.md
  PLAN.md
  T001-plan.md
  T002-plan.md
  T004-plan.md
  T005-plan.md
  T006-plan.md
  T028-plan.md
  T029-plan.md
  docs/DEVELOPMENT_PHILOSOPHY_APPENDIX_FRONTEND.md
Due: none

docs: formalize pnpm usage requirement in README.md
  .gitignore
  PLAN.md
  README.md
  TODO.md
Due: none

docs: mark storybook contribution guidelines link task as complete
  TODO.md
Due: none

chore: cancel task to restore deleted planning docs
  TODO.md
Due: none

docs: enhance CardAction component TSDoc comments
  TODO.md
  components/ui/card.tsx
Due: eslint --fix, prettier --write

feat(ui): enhance component argTypes documentation for core UI components
  TODO.md
  components/ui/button.stories.tsx
  components/ui/card.stories.tsx
  components/ui/input.stories.tsx
  components/ui/label.stories.tsx
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

chore: remove story exclusion from vitest coverage
  TODO.md
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: enforce pnpm usage via package.json
  .npmrc
  TODO.md
  package.json
Due: prettier --write

fix: resolve TypeScript and linting issues in UI component stories
  components/ui/button.stories.tsx
  components/ui/card.stories.tsx
  components/ui/input.stories.tsx
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

chore: exclude .stories.ts files from test coverage
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: ensure husky hooks end with newlines and add .editorconfig
  .editorconfig
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  TODO.md
Due: prettier --write

docs: add documentation about the glance command and its necessity
  README.md
  TODO.md
  docs/GLANCE-COMMAND.md
Due: none

refactor(hooks): improve post-commit hook logging and feedback
  .gitignore
  .husky/post-commit
  TODO.md
Due: none

refactor(hooks): update post-commit hook format for husky v10+ compatibility
  .husky/post-commit
  TODO.md
Due: none

refactor(storybook): remove unjustified global story margin decorator
  .storybook/preview.tsx
  TODO.md
Due: eslint --fix, prettier --write

chore(storybook): resolve T014 regarding decoupling from next/image
  TODO.md
Due: none

docs: clarify tailwind directive handling in storybook css
  .storybook/preview.css
  TODO.md
Due: prettier --write

refactor: use idiomatic react import style
  TODO.md
  components/ui/button.stories.tsx
  components/ui/button.test.tsx
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/input.stories.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/textarea.stories.tsx
  components/ui/textarea.tsx
Due: eslint --fix, prettier --write

test: add tests for Label component required prop
  TODO.md
  components/ui/label.test.tsx
Due: eslint --fix, prettier --write

refactor: remove CSS state simulation files and InteractiveState wrappers
  T014-findings.md
  TODO.md
  components/ui/button-states.css
  components/ui/button.stories.tsx
  components/ui/input-states.css
  components/ui/input.stories.tsx
  components/ui/textarea-states.css
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

refactor(ui): replace raw html elements in stories with library components
  TODO.md
  components/ui/input.stories.tsx
  components/ui/textarea.stories.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: (any of: *.{js,jsx,ts,tsx,mjs}) or (any of: *.{json,css,html})
