Repository phrazzld/misty-step: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: resolve all ESLint warnings in codebase
  BACKLOG.md
  CI_FAILURE_ANALYSIS.md
  PLAN.md
  TODO.md
  app/layout.test.tsx
  components/contact.tsx
  components/ui/button.stories.tsx
  components/ui/label.stories.tsx
  eslint.config.mjs
  lib/logger.test.ts
  package.json
Due: eslint --fix, prettier --write

chore: enhance Prettier configuration
  .prettierrc.js
  TODO.md
Due: eslint --fix, prettier --write

test(prettier): complete task T005 - verify prettier compliance
  TODO.md
Due: none

chore(prettier): format codebase with approved prettier config
  TODO.md
Due: none

test: verify pre-commit hook with lint-staged
  test-lint-staged.ts
Due: eslint --fix, prettier --write

feat(tooling): configure husky pre-commit hook to run lint-staged
  .husky/pre-commit
  TODO.md
  test-lint-staged.ts
Due: eslint --fix, prettier --write

test(tooling): verify commit-msg hook for conventional commits
  TODO.md
  test-commit-msg.txt
Due: none

feat(tooling): enhance lint-staged configuration for all file types
  .lintstagedrc.json
  TODO.md
Due: prettier --write

test(tooling): verify eslint and prettier integration is conflict-free
  TODO.md
Due: none

fix: test scenario a with fixable issues
  tmp/scenario-a.ts
Due: eslint --fix, prettier --write

docs: add test scenarios for pre-commit workflow
  .husky/commit-msg
  tmp/scenario-c.txt
  tmp/test-scenarios.md
Due: none

test(tooling): verify complete pre-commit workflow end-to-end
  TODO.md
  tmp/workflow-test-results.md
Due: none

feat(ci): configure eslint checks in CI pipeline
  .github/workflows/code-quality.yml
  TODO.md
  package.json
Due: prettier --write

feat(ci): configure CI pipeline to run Prettier format checks
  T013-plan.md
  TODO.md
Due: none

chore(ci): align CI checks with pre-commit hook configurations
  T014-plan.md
  TODO.md
  package.json
Due: prettier --write

docs: document core development tooling setup and workflow
  README.md
  T015-plan.md
  TODO.md
  docs/CONTRIBUTING.md
Due: none

docs: document rationale for strict linting and formatting rules
  T016-plan.md
  TODO.md
  docs/CONTRIBUTING.md
Due: none

docs: document and enforce tool versions using package.json engines
  T017-plan.md
  TODO.md
  docs/CONTRIBUTING.md
Due: none

docs: define scope of linting/formatting for non-source code files
  ISSUE-LINTING-SCOPE-plan.md
  TODO.md
  docs/CONTRIBUTING.md
Due: none

docs: determine canonical location for developer tooling documentation
  ISSUE-DOC-LOCATION-plan.md
  README.md
  TODO.md
Due: none

chore: docs cleanup
  ISSUE-DOC-LOCATION-plan.md
  ISSUE-LINTING-SCOPE-plan.md
  T013-plan.md
  T014-plan.md
  T015-plan.md
  T016-plan.md
  T017-plan.md
  tmp/scenario-a.ts
  tmp/scenario-c.txt
  tmp/test-scenarios.md
  tmp/workflow-test-results.md
Due: eslint --fix, prettier --write

fix(types): add proper type guards and assertions in app/layout.test.tsx
  TODO.md
  app/layout.test.tsx
Due: eslint --fix, prettier --write

fix(types): fix type compatibility in components/contact.tsx
  TODO.md
  components/contact.tsx
Due: eslint --fix, prettier --write

fix(types): add optional chaining for property access in logger tests
  TODO.md
  lib/logger.test.ts
Due: eslint --fix, prettier --write

refactor: extract form validation schema for Contact component
  TODO.md
  lib/schemas/contact-form-schema.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: integrate Zod validation in Contact component
  TODO.md
  components/contact.tsx
Due: eslint --fix, prettier --write

chore: mark Contact component line count refactoring as complete
  TODO.md
Due: none

test: verify Contact component tests work with Zod validation
  TODO.md
Due: none

ci: complete all verification steps for CI fixes
  CI-TASKS.md
  TODO.md
Due: none

chore: docs cleanup
  BACKLOG.md
  CI-TASKS.md
Due: none

chore(docs): cleanup
  PLAN.md
  TODO.md
Due: none

ci(config): enforce Conventional Commits via Git Hooks and CI
  .github/workflows/code-quality.yml
  PLAN-CONTEXT.md
  PLAN.md
  commitlint.config.js
  docs/CONTRIBUTING.md
  test-commit-msg.txt
Due: eslint --fix, prettier --write

chore(docs): cleanup
  PLAN-CONTEXT.md
  PLAN.md
Due: none

chore(config): enforce Node.js 22.15.0 LTS version
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .nvmrc
  docs/CONTRIBUTING.md
  package.json
Due: prettier --write

chore(ci): update CI pnpm install commands to use --frozen-lockfile
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  TODO.md
Due: none

chore(deps): standardize pnpm version in package.json to 10.10.0
  TODO.md
  package.json
Due: prettier --write

chore(ci): update pnpm version to 10.10.0 in CI pnpm/action-setup
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  TODO.md
Due: none

docs: update CONTRIBUTING.md to specify pnpm version 10.10.0
  TODO.md
  docs/CONTRIBUTING.md
Due: none

feat(ci): add Node.js/pnpm version verification script to CI workflows
  .github/scripts/verify-versions.sh
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  TODO.md
Due: none

test: verify pre-commit hook for version check
  test-file.txt
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: (any of: *.{js,jsx,ts,tsx,mjs}) or (any of: *.{json,css,html})
